/* header section */
.navbar {
    background-color: rgb(144, 86, 6);
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.active {
  flex-grow: 1;
  font-weight: bold;
  margin-left: 30px;
  }

  /* toy factory section */
  
 .toy-factory {
    background-color: rgb(220, 179, 121);
    color: rgb(98, 90, 90);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }

 .items {
  flex-direction: column;
  align-items: center;
 }
  
.pic {
  max-width: 400px;
  flex-direction: row;
  border-radius: 12px;
}

.title {
  font-size: 50px;
  font-weight: bolder;
  padding-right: 30px;
  text-align: left;
  padding-bottom: 5px;
}

.intro {
  font-size: 20px;
  padding-right: 30px;
  color: aliceblue;
  padding-bottom: 5px;
}

.button {
  font-size: 15px;
  padding-right: 30px;
  background-color: #4c67ca;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

/* Products section */

.products-title {
  background-color: rgb(160, 111, 22);
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 25px;
  font-weight: bold;
}

.products-container {
  background-color: rgb(160, 111, 22);
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 0px 24px 96px 24px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 5px;
  padding: 20px;  
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  gap: 8px;
}

.Product1 {
  width: 175px;
  height: 175px;
  border-radius: 28px;
  object-fit: cover;
  border: white 5px solid;
}

.Product1-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  flex-wrap: wrap;
  max-width: 175px;

}

.Product1-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 8px;
}

/* Quote section */

.quote-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.author {
  padding-top: 10px;
  font-weight: bold;
}

/* Sign-up section */

.Sign-up {
  display: flex;
  background-color: bisque;
  padding: 65px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  justify-content: center;
}

.items1 {
  display: flex;
  background-color: #6b7dc1;
  padding: 35px;
  border-radius: 25px;
  align-items: center;
  color: aliceblue;
}

.signup {
  flex-direction: row;
  padding-left: 70px;
  color: aliceblue;
}

.alert {
  font-weight: bold;
}