
.navbar {
    background-color: rgb(144, 86, 6);
    color: whitesmoke;
    display: flex;
    align-items: center;
    padding: 10px;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
.active {
  flex-grow: 1;
  font-weight: bold;
  margin-left: 30px;
  }
  


